<html>
	<head>Welcome to {{greeting_msg}}</head>
	
	<body>
		<h3>Provisioned by {{provisioner_tool}}</h3>
		<h3>Configured by {{cm_tool}}</h3>
		<h3>Hostname {{ansible_nodename}}</h3>
	</body>
</html>
